<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <!-- <li>
                        <button class="btn btn-info btn-just-icon" type="button">
                            <i class="fa fa-twitter"></i></button>
                    </li>
                    <li>
                        <button class="btn btn-success btn-just-icon" type="button">
                            <i class="fa fa-google-plus"></i></button>
                    </li>
                    <li>
                        <button class="btn btn-danger btn-just-icon" type="button">
                            <i class="fa fa-facebook-square"></i></button>
                    </li> -->
                    <!-- <li><a href="https://www.creative-tim.com">Creative Tim</a></li>
                    <li><a href="http://blog.creative-tim.com">Blog</a></li>
                    <li><a href="https://www.creative-tim.com/license">Licenses</a></li> -->
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    Caasius  © {{test | date: 'yyyy'}}
                </span>
            </div>
        </div>
    </div>
</footer>